:root {
    --primary-color:#430d27;
    --secondary-color:#fefefe;
    --accent-color: #3f3d56 ;
}

body {
    background: var(--primary-color);
    min-width: 380px;
}

.Navbar .navbar {
    background-color: var(--secondary-color);
    border-bottom: solid 5px var(--accent-color);
    font-family: 'Carlito', sans-serif;
   
}


.Navbar .nav-company-name {
   text-transform: uppercase;
   
}

.Navbar .nav-page {
    margin: 0 10px;
}

.Navbar a {
    border-bottom: 2px dashed var(--secondary-color);
    color: var(--accent-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px; 
    transition: all ease-in-out 20ms;
}

.Navbar a:hover {
border-bottom: 2px dashed var(--accent-color);
font-weight: 800;
   }

.Navbar .toggle-button {
    color: rgb(242, 242, 242, 0.8);
}

.Navbar button {
  border: solid 2px rgb(63, 61, 87, 0.6);
}


h1, h2 {
    font-family: 'Carlito', sans-serif;
}

h3 {
   font-size: 70px;
}

h3, h4 { 
color: var(--primary-color);
   font-family: 'Carlito', sans-serif;
   font-weight: 800;
   text-align: center;
   text-transform: uppercase;
}

h4 {
    font-size: 18px;
  }



h5 {
    background-color: var(--secondary-color);
    border-radius: 2px;
    color: var(--accent-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 12px;
    text-align: center;
}

p, a, .text-standout {
   color: var(--secondary-color);
   font-family: 'Quicksand', sans-serif;
   }

p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 10px;
    
}

button, button a {
    background-color: var(--secondary-color);
    border-radius: 15px;
    color: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 4px;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    transition: all ease-in 60ms;

}

button:hover {
    box-shadow: 1px 1px 10px var(--accent-color);
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    text-align: center;
}

li{
    list-style: none;

}

.Hero {
    margin: 0 auto;
    padding: 20px;
   }

.About, .TakePart, .Packages, .Terms {
    margin: 60px auto;
    padding: 0 0 50px;
}

.Hero .hero-container {
    margin: 90px auto 50px;
    max-width: 650px;
}

.Hero h1 {
    margin: 0 auto;
    text-align: left;
    text-transform: uppercase;
    color: var(--secondary-color);
    font-size: 60px;
    font-weight: 800;
}

.Hero .bridge-icon {
    font-size: 53px;
    font-weight: 600;

}
 

.Hero h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px auto 30px;
    background: var(--secondary-color);
    border-radius: 2px;
    color: var(--primary-color);
    padding: 15px;
    text-align: center;
}


.Hero h3, .Terms h3 {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    }

.Hero .ratings {
    color: var(--secondary-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 800;
    margin: 5px auto;
    text-transform: uppercase;
    text-align: left;
}


.Hero p {
    color: var(--secondary-color);
    font-size: 12px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.Hero button, .About button, .TakePart button, .Packages button, .Terms button {
    display: block;
    margin: 25px auto 0;
}

.title-row {
    background-color: var(--secondary-color);
}


.title-col{
    padding: 0;
   
}

.title-img {
    max-height: 300px;
}

.section-quote p{
    background-color: var(--accent-color);
    border-bottom: solid 2px var(--secondary-color); 
    color: var(--secondary-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 12px;
    text-align: center;
 }
 
 .row-margin {
     margin: 0 50px;
 }
 
 .quote-link {
     font-size: 15px;
    }
 
 .quote-link {
     color: var(--secondary-color)
 }
 
 .quote-link:hover, a:hover {
     font-weight: bold;
 }
 
 .text-standout p {
     font-size: 18px;
     font-weight: bold;
     line-height: 1.5;
     margin: 0 auto;
     text-align: center;
 }


.footer-container {
    background-color: var(--secondary-color);
    border-top: solid 5px var(--accent-color);
    font-family: 'Carlito', sans-serif;
    max-width: none;
    padding: 10px; 
    text-align: center;
}

.footer-container a, .footer-container p{
    color: var(--accent-color);
}

.footer-container i {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    transition: ease-in-out 18ms;
}

.footer-container i:hover {
    transform: scale(1.5);
}

.footer-container p {
    font-size: 10px;
    margin-bottom: 0;
    padding: 4px 10px;
}




@media (max-width: 700px) {

    
    h3 {
        font-size: 50px;
    }


    p, .section-quote p {
        font-size: 18px;
        }

        button, button a {
            font-size: 11px;
            letter-spacing: 3px;       
        }
    
     .Hero {
        margin: 10px;
    }
    
    .Hero .hero-container {
        max-width: 400px;
        padding: 10px;
      
    }
    .Hero  h1 {
        font-size: 30px;
        
    }

    .Hero .bridge-icon {
        font-size: 28px;
    
    }

    .Hero  h2 {
        font-size: 15px;
    }

    .Hero h3 {
        font-size: 13px;
        font-weight: 500;
    }

    .Hero .ratings {
        font-size: 11px;
        margin: 3px auto;
    }

    .text-standout p {
        text-align: left;
    }

    .row-margin {
        margin: 0 10px;
    }


    .footer-container i {
        font-size: 14px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .footer-container p {
        font-size: 8px;

    }

}